body {
  background-color: black;
  color: white;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10px; /* Optional: Add some padding to prevent the image from touching screen edges */
}

.title-img {
  max-width: 70%; /* Reduce width for smaller screens */
  height: auto;
}

@media (max-width: 600px) {
  .title-container {
    height: 50vh; /* Adjust height for smaller screens if necessary */
  }

  .title-img {
    max-width: 80%; /* Further reduce width for very small screens */
  }
}

/* .title {
  display: flex;
  /* align-content: center; */
/* } */
/* .tile-button {
  display: flex;
}  */
