body {
  background-color: black;
  color: white;
  margin: 0;
  height: 100vh;
  overflow: hidden; /* Prevent scrollbars */
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden; 
}

.title-img {
  max-width: 80%; /* Adjust the image size */
  height: auto; /* Maintain the aspect ratio */
  display: block;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .title-img {
    max-width: 80%; /* Adjust for smaller screens */
  }
}
